@theme {
  --background-image-contact-sm: url("/images/contact-sm.webp?cacheVersion=1");
  --background-image-contact-md: url("/images/contact-md.webp?cacheVersion=1");
  --background-image-contact-lg: url("/images/contact-lg.webp?cacheVersion=1");
  --background-image-contact-xl: url("/images/contact-xl.webp?cacheVersion=1");
  --background-image-contact-2xl: url("/images/contact-2xl.webp?cacheVersion=1");
}

.clip-path-inset-0 {
  clip-path: inset(0);
}

@media (prefers-reduced-motion: no-preference) {
  .animate-background-scale {
    animation-name: background-scale;
    scale: 1;
  }
}

@keyframes background-scale {
  to {
    scale: 1.3;
  }
}
