@theme {
  --animate-scroll-icon: scroll-icon 2s linear 3 alternate;
}

@keyframes scroll-icon {
  0%,
  100% {
    top: 0.125rem;
  }
  50% {
    top: var(--scroll-icon-top);
  }
}

@utility animate-scroll-icon {
  @media screen and (max-width: 768px) {
    --scroll-icon-top: -0.7rem;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    --scroll-icon-top: -0.95rem;
  }

  @media screen and (min-width: 1024px) {
    --scroll-icon-top: -1.05rem;
  }
}

@utility animate-show-components {
  @media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
      animation-name: show-components;
    }
  }
}

@utility animate-show-components-polyfill {
  @media (prefers-reduced-motion: no-preference) {
    @supports not (animation-timeline: scroll()) {
      animation-name: show-components;
    }
  }
}

@keyframes show-components {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  10% {
    opacity: 1;
    visibility: visible;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@utility animate-hide-components {
  @media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
      animation-name: hide-components;
    }
  }
}

@utility animate-hide-components-polyfill {
  @media (prefers-reduced-motion: no-preference) {
    @supports not (animation-timeline: scroll()) {
      animation-name: hide-components;
    }
  }
}

@keyframes hide-components {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}
