@media (prefers-reduced-motion: no-preference) {
  .animate-rotate {
    animation-name: rotate;

    @media screen and (max-width: 768px) {
      scale: 0.5;
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  @keyframes rotate {
    to {
      transform: rotate(360deg);
      scale: 2;
    }
  }
}
