@media (prefers-reduced-motion: no-preference) {
  .animate-rotate {
    animation-name: rotate;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  @keyframes rotate {
    to {
      transform: rotate(360deg) scale(2);
    }
  }
}
