@theme {
  --background-image-gradient-skills: linear-gradient(
    90deg,
    white 25%,
    #fde071 37.5%,
    #ef9671,
    #996a6e 62.5%,
    white 75%
  );
}

.text-fill-transparent {
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

.animate-skills {
  @media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: view()) {
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-timeline: view();
      animation-range-start: 0;
      animation-range-end: 200svh;
      animation-name: skills;
    }
  }

  @media screen and (min-width: 1024px) {
    animation-range-end: 200dvh;
  }
}

@utility animate-skills-polyfill {
  @media (prefers-reduced-motion: no-preference) {
    @supports not (animation-timeline: view()) {
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-play-state: paused;
      animation-name: skills;
    }
  }
}

@keyframes skills {
  from {
    top: 120svh;
  }
  to {
    top: var(--top-var);
  }
}

/* Animations polyfill, for cases in which 'animation-timeline' isn't supported. */

@media (prefers-reduced-motion: no-preference) {
  .row-1 {
    --top-var: 12svh;

    @media screen and (min-width: 640px) {
      --top-var: 12svh;
    }

    @media screen and (min-width: 1024px) {
      --top-var: 12dvh;
    }
  }

  .row-2 {
    --top-var: 25svh;

    @media screen and (min-width: 640px) {
      --top-var: 25svh;
    }

    @media screen and (min-width: 1024px) {
      --top-var: 25dvh;
    }
  }

  .row-3 {
    --top-var: 32svh;

    @media screen and (min-width: 640px) {
      --top-var: 37svh;
    }

    @media screen and (min-width: 1024px) {
      --top-var: 37dvh;
    }
  }

  .row-4 {
    --top-var: 40svh;

    @media screen and (min-width: 640px) {
      --top-var: 49svh;
    }

    @media screen and (min-width: 1024px) {
      --top-var: 49dvh;
    }
  }

  .row-5 {
    --top-var: 48svh;

    @media screen and (min-width: 640px) {
      --top-var: 61svh;
    }

    @media screen and (min-width: 1024px) {
      --top-var: 61dvh;
    }
  }

  .row-6 {
    --top-var: 56svh;

    @media screen and (min-width: 640px) {
      --top-var: 73svh;
    }

    @media screen and (min-width: 1024px) {
      --top-var: 73dvh;
    }
  }

  .row-7 {
    --top-var: 64svh;

    @media screen and (min-width: 640px) {
      --top-var: 85svh;
    }

    @media screen and (min-width: 1024px) {
      --top-var: 85dvh;
    }
  }

  @supports not (animation-timeline: view()) {
    .row-1-polyfill {
      animation-delay: calc(var(--scroll) * -4s);
    }

    .row-2-polyfill {
      animation-delay: calc(var(--scroll) * -3.75s);
    }

    .row-3-polyfill {
      animation-delay: calc(var(--scroll) * -3.5s);
    }

    .row-4-polyfill {
      animation-delay: calc(var(--scroll) * -3.25s);
    }

    .row-5-polyfill {
      animation-delay: calc(var(--scroll) * -3s);
    }

    .row-6-polyfill {
      animation-delay: calc(var(--scroll) * -2.75s);
    }

    .row-7-polyfill {
      animation-delay: calc(var(--scroll) * -2.5s);
    }
  }
}
