@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .hide-scrollbars {
    scrollbar-width: none;
  }

  .hide-scrollbars::-webkit-scrollbar {
    display: none;
  }

  .text-balance {
    text-wrap: balance;
  }

  .title-text-stroke-purple {
    -webkit-text-stroke: 0.125rem #ceb7ff;
  }

  .title-text-stroke-white {
    -webkit-text-stroke: 0.125rem #ffffff;
  }

  .title-text-stroke-purple-narrow-dark {
    -webkit-text-stroke: 0.05rem #aa82ff;
  }

  @media screen and (max-width: 640px) {
    .title-text-stroke-purple {
      -webkit-text-stroke: 0.05rem #ceb7ff;
    }

    .title-text-stroke-white {
      -webkit-text-stroke: 0.05rem #ffffff;
    }
  }

  @media screen and (min-width: 1024px) {
    .title-text-stroke-purple-narrow-dark {
      -webkit-text-stroke: 0.1rem #aa82ff;
    }
  }
}

@layer components {
  .center-elements {
    @apply flex items-center justify-center;
  }

  .transition-300 {
    @apply transition-all ease-in-out duration-300;
  }

  .transition-1000 {
    @apply transition-all ease-in-out duration-1000;
  }

  .inset-0 {
    clip-path: inset(0);
  }

  .container-type-size {
    container-type: size;
  }

  .expandable-button-size-container {
    @apply w-full h-[100cqw] md:w-[100cqh] md:h-full;
  }

  .closed-expandable-button {
    @apply text-sm sm:text-2xl md:text-4xl text-transparent border-transparent title-text-stroke-white font-just-in-the-firestorm uppercase drop-shadow-[0px_0px_3px_rgba(175,25,255,1)];
  }

  .opened-expandable-button {
    @apply text-white font-montserrat text-xl border-white p-2;
  }
}
