@tailwind components;

@layer components {
  @media (prefers-reduced-motion: no-preference) {
    /* Animations polyfill, for cases in which 'animation-timeline' isn't supported. */
    @supports not (animation-timeline: scroll()) {
      .animate-scroll-polyfill {
        animation: 1s linear forwards;
        animation-delay: calc(var(--scroll) * -1s);
        animation-play-state: paused;
      }

      .animate-rotate-polyfill {
        animation-name: rotate;
      }

      @media screen and (max-width: 768px) {
        .animate-rotate-polyfill {
          scale: 0.5;
        }
      }

      .animate-background-polyfill {
        animation-name: background-scale;
        scale: 1;
      }

      .animate-hide-components-polyfill {
        animation-name: hide-components;
      }

      .animate-show-components-polyfill {
        animation-name: show-components;
      }
    }

    @supports not (animation-timeline: view()) {
      .animate-skills-polyfill {
        animation: 1s linear forwards;
        animation-play-state: paused;
      }

      .animate-skills-1-polyfill {
        animation-name: skills-1;
        animation-delay: calc(var(--scroll) * -4s);
      }

      .animate-skills-2-polyfill {
        animation-name: skills-2;
        animation-delay: calc(var(--scroll) * -3.75s);
      }

      .animate-skills-3-polyfill {
        animation-name: skills-3;
        animation-delay: calc(var(--scroll) * -3.5s);
      }

      .animate-skills-4-polyfill {
        animation-name: skills-4;
        animation-delay: calc(var(--scroll) * -3.25s);
      }

      .animate-skills-5-polyfill {
        animation-name: skills-5;
        animation-delay: calc(var(--scroll) * -3s);
      }

      .animate-skills-6-polyfill {
        animation-name: skills-6;
        animation-delay: calc(var(--scroll) * -2.75s);
      }

      .animate-skills-7-polyfill {
        animation-name: skills-7;
        animation-delay: calc(var(--scroll) * -2.5s);
      }
    }

    /* The animations can be moved to tailwind.config once the polyfill is removed. */
    @supports (animation-timeline: scroll()) {
      .animate-scroll {
        animation: linear;
        animation-timeline: scroll();
      }

      .animate-rotate {
        animation-name: rotate;
      }

      @media screen and (max-width: 768px) {
        .animate-rotate {
          scale: 0.5;
        }
      }

      .animate-background-scale {
        animation-name: background-scale;
        scale: 1;
      }

      .animate-hide-components {
        animation-name: hide-components;
      }

      .animate-show-components {
        animation-name: show-components;
      }
    }

    @supports (animation-timeline: view()) {
      .animate-skills {
        animation: linear forwards;
        animation-timeline: view();
        animation-range-start: 0;
        animation-range-end: 200svh;
      }

      @media screen and (min-width: 1024px) {
        .animate-skills {
          animation-range-end: 200dvh;
        }
      }

      .animate-skills-1 {
        animation-name: skills-1;
      }

      .animate-skills-2 {
        animation-name: skills-2;
      }

      .animate-skills-3 {
        animation-name: skills-3;
      }

      .animate-skills-4 {
        animation-name: skills-4;
      }

      .animate-skills-5 {
        animation-name: skills-5;
      }

      .animate-skills-6 {
        animation-name: skills-6;
      }

      .animate-skills-7 {
        animation-name: skills-7;
      }
    }
  }

  @keyframes skills-1 {
    from {
      top: 120svh;
    }
    to {
      top: 12svh;
    }
  }

  @keyframes skills-2 {
    from {
      top: 120svh;
    }
    to {
      top: 25svh;
    }
  }

  @keyframes skills-3 {
    from {
      top: 120svh;
    }
    to {
      top: 32svh;
    }
  }

  @keyframes skills-4 {
    from {
      top: 120svh;
    }
    to {
      top: 40svh;
    }
  }

  @keyframes skills-5 {
    from {
      top: 120svh;
    }
    to {
      top: 48svh;
    }
  }

  @keyframes skills-6 {
    from {
      top: 120svh;
    }
    to {
      top: 56svh;
    }
  }

  @keyframes skills-7 {
    from {
      top: 120svh;
    }
    to {
      top: 64svh;
    }
  }

  @media screen and (min-width: 640px) {
    @keyframes skills-3 {
      from {
        top: 120svh;
      }
      to {
        top: 37svh;
      }
    }

    @keyframes skills-4 {
      from {
        top: 120svh;
      }
      to {
        top: 49svh;
      }
    }

    @keyframes skills-5 {
      from {
        top: 120svh;
      }
      to {
        top: 61svh;
      }
    }

    @keyframes skills-6 {
      from {
        top: 120svh;
      }
      to {
        top: 73svh;
      }
    }

    @keyframes skills-7 {
      from {
        top: 120svh;
      }
      to {
        top: 85svh;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    @keyframes skills-3 {
      from {
        top: 120dvh;
      }
      to {
        top: 37dvh;
      }
    }

    @keyframes skills-4 {
      from {
        top: 120dvh;
      }
      to {
        top: 49dvh;
      }
    }

    @keyframes skills-5 {
      from {
        top: 120dvh;
      }
      to {
        top: 61dvh;
      }
    }

    @keyframes skills-6 {
      from {
        top: 120dvh;
      }
      to {
        top: 73dvh;
      }
    }

    @keyframes skills-7 {
      from {
        top: 120dvh;
      }
      to {
        top: 85dvh;
      }
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  @media screen and (max-width: 768px) {
    @keyframes rotate {
      to {
        transform: rotate(360deg);
        scale: 2;
      }
    }
  }

  @keyframes background-scale {
    to {
      scale: 1.3;
    }
  }

  @keyframes hide-components {
    0% {
      opacity: 1;
    }

    10% {
      opacity: 0;
      visibility: hidden;
    }

    to {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes show-components {
    0% {
      opacity: 0;
      visibility: hidden;
    }

    10% {
      opacity: 1;
      visibility: visible;
    }

    to {
      opacity: 1;
      visibility: visible;
    }
  }

  @media screen and (max-width: 768px) {
    .animate-scroll-icon {
      --scroll-icon-top: -0.7rem;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .animate-scroll-icon {
      --scroll-icon-top: -0.95rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .animate-scroll-icon {
      --scroll-icon-top: -1.05rem;
    }
  }
}
