@import "tailwindcss";
@import "./title-typing-animations.css";
@import "./icons-scroll-animations.css";

@theme {
  --drop-shadow-purple-glow: 0px 0px 0.125rem #b377ff;
  --drop-shadow-white-glow-sm: 0px 0px 0.313rem #ffffff;
  --drop-shadow-purple-glow-sm: 0px 0px 0.313rem #b377ff;
  --drop-shadow-border-purple-glow: 0px 0px 0.09rem #b377ff;

  --rotate-270: 270deg;

  --animate-flash-loader-text: flash-loader-text 1s linear infinite;
  --animate-expand-button: expand-button 1s linear forwards;
  --animate-collapse-button: collapse-button 1s linear forwards;

  --color-title-purple: #ceb7ff;
  --color-title-purple-dark: #75629f;

  --font-just-in-the-firestorm: var(--font-just-in-the-firestorm);
  --font-star-date-81316: var(--font-star-date-81316);
  --font-bebas-neue: var(--font-bebas-neue);
  --font-montserrat: var(--font-montserrat);
  --font-stop-motion: var(--font-stop-motion);
  --font-karantina-regular: var(--font-karantina-regular);
  --font-varela-round-regular: var(--font-varela-round-regular);
  --font-handjet: var(--font-handjet);

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
  --background-image-gradient-skills: linear-gradient(
    90deg,
    white 25%,
    #fde071 37.5%,
    #ef9671,
    #996a6e 62.5%,
    white 75%
  );
  --background-image-contact-sm: url("/images/contact-sm.webp?cacheVersion=1");
  --background-image-contact-md: url("/images/contact-md.webp?cacheVersion=1");
  --background-image-contact-lg: url("/images/contact-lg.webp?cacheVersion=1");
  --background-image-contact-xl: url("/images/contact-xl.webp?cacheVersion=1");
  --background-image-contact-2xl: url("/images/contact-2xl.webp?cacheVersion=1");

  @keyframes expand-button {
    0% {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      height: 100%;
    }
    50% {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      height: 0%;
    }
    100% {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      height: 100%;
    }
  }
  @keyframes collapse-button {
    0% {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      height: 100%;
    }
    50% {
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      height: 0%;
    }
    100% {
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      height: 100%;
    }
  }
  @keyframes flash-loader-text {
    50% {
      opacity: 0;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility hide-scrollbars {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility title-text-stroke-white {
  -webkit-text-stroke: 0.125rem #ffffff;

  @media screen and (max-width: 640px) {
    -webkit-text-stroke: 0.05rem #ffffff;
  }
}

@utility purple-text-stroke {
  -webkit-text-stroke: 0.125rem #ceb7ff;

  @media screen and (max-width: 640px) {
    -webkit-text-stroke: 0.07rem #ceb7ff;
  }
}

@utility center-elements {
  @apply flex items-center justify-center;
}

@utility transition-300 {
  @apply transition-all ease-in-out duration-300;
}

@utility transition-1000 {
  @apply transition-all ease-in-out duration-1000;
}

@utility clip-path-inset-0 {
  clip-path: inset(0);
}

@utility container-type-size {
  container-type: size;
}

@utility text-fill-transparent {
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

@utility main-title-font-classNames {
  &:lang(en) {
    @apply font-just-in-the-firestorm text-base sm:text-2xl md:text-3xl lg:text-4xl;
  }

  &:lang(he) {
    @apply font-stop-motion tracking-wider text-2xl sm:text-3xl md:text-5xl md:tracking-normal;
  }
}

@utility info-text-font-classNames {
  &:lang(en) {
    @apply font-bebas-neue;
  }

  &:lang(he) {
    @apply font-sans font-bold;
  }
}

@utility contact-go-button-font-classNames {
  &:lang(he) {
    @apply font-sans font-bold leading-[1rem] sm:leading-5 md:leading-8;
  }
}

@utility border-font-classNames {
  &:lang(en) {
    @apply font-star-date-81316 pt-[0.1rem] text-[135%] leading-[135%] md:text-[130%] md:leading-[130%];
  }

  &:lang(he) {
    @apply font-karantina-regular pb-0.5 text-[130%] leading-[130%] md:text-[140%] md:leading-[140%];
  }
}

@utility regular-text-font-by-locale {
  &:lang(en) {
    @apply font-montserrat;
  }

  &:lang(he) {
    @apply font-varela-round-regular;
  }
}

@utility expandable-button-size-container {
  @apply w-full h-[100cqw] md:w-[100cqh] md:h-full lg:w-3/4 lg:h-full;
}

@utility closed-expandable-button {
  &:lang(en) {
    @apply text-sm sm:text-2xl sm:leading-[3.5rem]! md:text-4xl text-transparent title-text-stroke-white animate-collapse-button font-just-in-the-firestorm uppercase drop-shadow-[0px_0px_3px_rgba(175,25,255,1)];
  }

  &:lang(he) {
    @apply text-lg sm:text-3xl md:text-4xl sm:leading-[3.5rem]! text-transparent title-text-stroke-white animate-collapse-button font-stop-motion tracking-wider uppercase drop-shadow-[0px_0px_3px_rgba(175,25,255,1)];
  }
}

@utility closed-expandable-button-focus {
  @apply focus:before:bg-black/50 focus:drop-shadow-none focus:before:-z-10 focus:before:absolute focus:before:size-full focus:before:max-w-[100cqh] focus:before:rounded-full focus:before:top-0 focus:before:bottom-0 focus:before:left-0 focus:before:right-0 focus:before:m-auto;
}

@utility opened-expandable-button {
  @apply text-white text-base text-center sm:text-xl p-2 focus:bg-black/50 animate-expand-button;
}

@utility side-links-clickable-elements-size {
  @apply size-8 sm:size-10 md:size-12 lg:size-14 xl:size-16 2xl:h-[4.5rem] 2xl:w-[4.5rem];
}

@utility side-links-icons {
  @apply fill-title-purple group-hover:fill-white group-active:fill-title-purple-dark group-focus:fill-title-purple size-full;
}

@utility attribution-anchor-tag {
  @apply outline-hidden focus:bg-white focus:rounded-md text-title-purple hover:text-title-purple-dark active:text-black focus:text-title-purple-dark;
}

@utility scrollable-subsection-buttons {
  @apply z-10 h-14 lg:h-[6.375rem] absolute top-0 bottom-0 my-auto disabled:opacity-30;
}

@utility aside-closed {
  @apply w-0 ltr:-left-[100vw] rtl:-right-[100vw] overflow-y-hidden;
}

@utility aside-open {
  @apply w-full ltr:left-0 rtl:right-0 overflow-y-auto;
}

@utility title-typing-animation-by-language {
  &:lang(en) {
    @apply before:right-0;
  }

  &:lang(he) {
    @apply before:left-0;
  }
}

@utility animate-scroll-polyfill {
  @media (prefers-reduced-motion: no-preference) {
    @supports not (animation-timeline: scroll()) {
      animation: 1s linear forwards;
      animation-delay: calc(var(--scroll) * -1s);
      animation-play-state: paused;
    }
  }
}

@utility animate-rotate-polyfill {
  @media (prefers-reduced-motion: no-preference) {
    @supports not (animation-timeline: scroll()) {
      animation-name: rotate;

      @media screen and (max-width: 768px) {
        scale: 0.5;
      }
    }
  }
}

@utility animate-background-polyfill {
  @media (prefers-reduced-motion: no-preference) {
    @supports not (animation-timeline: scroll()) {
      animation-name: background-scale;
      scale: 1;
    }
  }
}

@utility animate-skills-polyfill {
  @media (prefers-reduced-motion: no-preference) {
    @supports not (animation-timeline: view()) {
      animation: 1s linear forwards;
      animation-play-state: paused;
      animation-name: skills;
    }
  }
}

@utility row-1-polyfill {
  @media (prefers-reduced-motion: no-preference) {
    @supports not (animation-timeline: view()) {
      animation-delay: calc(var(--scroll) * -4s);
    }
  }
}

@utility row-2-polyfill {
  @media (prefers-reduced-motion: no-preference) {
    @supports not (animation-timeline: view()) {
      animation-delay: calc(var(--scroll) * -3.75s);
    }
  }
}

@utility row-3-polyfill {
  @media (prefers-reduced-motion: no-preference) {
    @supports not (animation-timeline: view()) {
      animation-delay: calc(var(--scroll) * -3.5s);
    }
  }
}

@utility row-4-polyfill {
  @media (prefers-reduced-motion: no-preference) {
    @supports not (animation-timeline: view()) {
      animation-delay: calc(var(--scroll) * -3.25s);
    }
  }
}

@utility row-5-polyfill {
  @media (prefers-reduced-motion: no-preference) {
    @supports not (animation-timeline: view()) {
      animation-delay: calc(var(--scroll) * -3s);
    }
  }
}

@utility row-6-polyfill {
  @media (prefers-reduced-motion: no-preference) {
    @supports not (animation-timeline: view()) {
      animation-delay: calc(var(--scroll) * -2.75s);
    }
  }
}

@utility row-7-polyfill {
  @media (prefers-reduced-motion: no-preference) {
    @supports not (animation-timeline: view()) {
      animation-delay: calc(var(--scroll) * -2.5s);
    }
  }
}

@utility animate-scroll {
  @media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
      animation: linear;
      animation-timeline: scroll();
    }
  }
}

@utility animate-rotate {
  @media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
      animation-name: rotate;

      @media screen and (max-width: 768px) {
        scale: 0.5;
      }
    }
  }
}

@utility animate-background-scale {
  @media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
      animation-name: background-scale;
      scale: 1;
    }
  }
}

@utility row-1 {
  @media (prefers-reduced-motion: no-preference) {
    /* Animations polyfill, for cases in which 'animation-timeline' isn't supported. */

    /* The animations can be moved to tailwind.config once the polyfill is removed.
     view(): breaks in Turbopack. */
    --top-var: 12svh;
  }

  @media screen and (min-width: 640px) {
    --top-var: 12svh;
  }

  @media screen and (min-width: 1024px) {
    --top-var: 12dvh;
  }
}

@utility row-2 {
  @media (prefers-reduced-motion: no-preference) {
    --top-var: 25svh;
  }

  @media screen and (min-width: 640px) {
    --top-var: 25svh;
  }

  @media screen and (min-width: 1024px) {
    --top-var: 25dvh;
  }
}

@utility row-3 {
  @media (prefers-reduced-motion: no-preference) {
    --top-var: 32svh;
  }

  @media screen and (min-width: 640px) {
    --top-var: 37svh;
  }

  @media screen and (min-width: 1024px) {
    --top-var: 37dvh;
  }
}

@utility row-4 {
  @media (prefers-reduced-motion: no-preference) {
    --top-var: 40svh;
  }

  @media screen and (min-width: 640px) {
    --top-var: 49svh;
  }

  @media screen and (min-width: 1024px) {
    --top-var: 49dvh;
  }
}

@utility row-5 {
  @media (prefers-reduced-motion: no-preference) {
    --top-var: 48svh;
  }

  @media screen and (min-width: 640px) {
    --top-var: 61svh;
  }

  @media screen and (min-width: 1024px) {
    --top-var: 61dvh;
  }
}

@utility row-6 {
  @media (prefers-reduced-motion: no-preference) {
    --top-var: 56svh;
  }

  @media screen and (min-width: 640px) {
    --top-var: 73svh;
  }

  @media screen and (min-width: 1024px) {
    --top-var: 73dvh;
  }
}

@utility row-7 {
  @media (prefers-reduced-motion: no-preference) {
    --top-var: 64svh;
  }

  @media screen and (min-width: 640px) {
    --top-var: 85svh;
  }

  @media screen and (min-width: 1024px) {
    --top-var: 85dvh;
  }
}

@utility animate-skills {
  @media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: view()) {
      animation: linear forwards;
      animation-timeline: view();
      animation-range-start: 0;
      animation-range-end: 200svh;
      animation-name: skills;
    }
  }

  @media screen and (min-width: 1024px) {
    animation-range-end: 200dvh;
  }
}

@layer utilities {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
}

@layer components {
  @keyframes skills {
    from {
      top: 120svh;
    }
    to {
      top: var(--top-var);
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  @media screen and (max-width: 768px) {
    @keyframes rotate {
      to {
        transform: rotate(360deg);
        scale: 2;
      }
    }
  }

  @keyframes background-scale {
    to {
      scale: 1.3;
    }
  }
}
