@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .hide-scrollbars {
    scrollbar-width: none;
  }

  .hide-scrollbars::-webkit-scrollbar {
    display: none;
  }

  .title-text-stroke-white {
    -webkit-text-stroke: 0.125rem #ffffff;
  }

  .purple-text-stroke {
    -webkit-text-stroke: 0.125rem #ceb7ff;
  }

  .center-elements {
    @apply flex items-center justify-center;
  }

  .transition-300 {
    @apply transition-all ease-in-out duration-300;
  }

  .transition-1000 {
    @apply transition-all ease-in-out duration-1000;
  }

  .clip-path-inset-0 {
    clip-path: inset(0);
  }

  .container-type-size {
    container-type: size;
  }

  .text-fill-transparent {
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  @media screen and (max-width: 640px) {
    .purple-text-stroke {
      -webkit-text-stroke: 0.07rem #ceb7ff;
    }

    .title-text-stroke-white {
      -webkit-text-stroke: 0.05rem #ffffff;
    }
  }
}

@layer components {
  .main-title-font-classNames:lang(en) {
    @apply font-just-in-the-firestorm text-base sm:text-2xl md:text-3xl lg:text-4xl;
  }

  .main-title-font-classNames:lang(he) {
    @apply font-stop-motion tracking-wider text-2xl sm:text-3xl md:text-5xl md:tracking-normal;
  }

  .info-text-font-classNames:lang(en) {
    @apply font-bebas-neue;
  }

  .info-text-font-classNames:lang(he) {
    @apply font-sans font-bold;
  }

  .contact-go-button-font-classNames:lang(he) {
    @apply font-sans font-bold leading-[1rem] sm:leading-5 md:leading-8;
  }

  .border-font-classNames:lang(en) {
    @apply font-star-date-81316 pt-[0.1rem] text-[135%] leading-[135%] md:text-[130%] md:leading-[130%];
  }

  .border-font-classNames:lang(he) {
    @apply font-karantina-regular pb-0.5 text-[130%] leading-[130%] md:text-[140%] md:leading-[140%];
  }

  .regular-text-font-by-locale:lang(en) {
    @apply font-montserrat;
  }

  .regular-text-font-by-locale:lang(he) {
    @apply font-varela-round-regular;
  }

  .expandable-button-size-container {
    @apply w-full h-[100cqw] md:w-[100cqh] md:h-full lg:w-3/4 lg:h-full;
  }

  .closed-expandable-button:lang(en) {
    @apply text-sm sm:text-2xl sm:!leading-[3.5rem] md:text-4xl text-transparent title-text-stroke-white animate-collapse-button font-just-in-the-firestorm uppercase drop-shadow-[0px_0px_3px_rgba(175,25,255,1)];
  }

  .closed-expandable-button:lang(he) {
    @apply text-lg sm:text-3xl md:text-4xl sm:!leading-[3.5rem] text-transparent title-text-stroke-white animate-collapse-button font-stop-motion tracking-wider uppercase drop-shadow-[0px_0px_3px_rgba(175,25,255,1)];
  }

  .closed-expandable-button-focus {
    @apply focus:before:bg-black/50 focus:drop-shadow-none focus:before:-z-10 focus:before:absolute focus:before:size-full focus:before:max-w-[100cqh] focus:before:rounded-full focus:before:top-0 focus:before:bottom-0 focus:before:left-0 focus:before:right-0 focus:before:m-auto;
  }

  .opened-expandable-button {
    @apply text-white text-base text-center sm:text-xl p-2 focus:bg-black/50 animate-expand-button;
  }

  .side-links-clickable-elements-size {
    @apply size-8 sm:size-10 md:size-12 lg:size-14 xl:size-16 2xl:h-[4.5rem] 2xl:w-[4.5rem];
  }

  .side-links-icons {
    @apply fill-title-purple group-hover:fill-white group-active:fill-title-purple-dark group-focus:fill-title-purple size-full;
  }

  .attribution-anchor-tag {
    @apply outline-none focus:bg-white focus:rounded-md text-title-purple hover:text-title-purple-dark active:text-black focus:text-title-purple-dark;
  }

  .scrollable-subsection-buttons {
    @apply z-10 h-14 lg:h-[6.375rem] absolute top-0 bottom-0 my-auto disabled:opacity-30;
  }

  .aside-closed {
    @apply w-0 ltr:-left-[100vw] rtl:-right-[100vw] overflow-y-hidden;
  }

  .aside-open {
    @apply w-full ltr:left-0 rtl:right-0 overflow-y-auto;
  }

  /* TODO: Separate to a different file later. */
  @media (prefers-reduced-motion: no-preference) {
    /* Animations polyfill, for cases in which 'animation-timeline' isn't supported. */
    @supports not (animation-timeline: scroll()) {
      .animate-scroll-polyfill {
        animation: 1s linear forwards;
        animation-delay: calc(var(--scroll) * -1s);
        animation-play-state: paused;
      }

      .animate-rotate-polyfill {
        animation-name: rotate;
      }

      @media screen and (max-width: 768px) {
        .animate-rotate-polyfill {
          scale: 0.5;
        }
      }

      .animate-background-polyfill {
        animation-name: background-scale;
        scale: 1;
      }

      .animate-hide-components-polyfill {
        animation-name: hide-components;
      }

      .animate-show-components-polyfill {
        animation-name: show-components;
      }
    }

    @supports not (animation-timeline: view()) {
      .animate-skills-polyfill {
        animation: 1s linear forwards;
        animation-play-state: paused;
      }

      .animate-skills-1-polyfill {
        animation-name: skills-1;
        animation-delay: calc(var(--scroll) * -4s);
      }

      .animate-skills-2-polyfill {
        animation-name: skills-2;
        animation-delay: calc(var(--scroll) * -3.75s);
      }

      .animate-skills-3-polyfill {
        animation-name: skills-3;
        animation-delay: calc(var(--scroll) * -3.5s);
      }

      .animate-skills-4-polyfill {
        animation-name: skills-4;
        animation-delay: calc(var(--scroll) * -3.25s);
      }

      .animate-skills-5-polyfill {
        animation-name: skills-5;
        animation-delay: calc(var(--scroll) * -3s);
      }

      .animate-skills-6-polyfill {
        animation-name: skills-6;
        animation-delay: calc(var(--scroll) * -2.75s);
      }

      .animate-skills-7-polyfill {
        animation-name: skills-7;
        animation-delay: calc(var(--scroll) * -2.5s);
      }
    }

    /* The animations can be moved to tailwind.config once the polyfill is removed. */
    @supports (animation-timeline: scroll()) {
      .animate-scroll {
        animation: linear;
        animation-timeline: scroll();
      }

      .animate-rotate {
        animation-name: rotate;
      }

      @media screen and (max-width: 768px) {
        .animate-rotate {
          scale: 0.5;
        }
      }

      .animate-background-scale {
        animation-name: background-scale;
        scale: 1;
      }

      .animate-hide-components {
        animation-name: hide-components;
      }

      .animate-show-components {
        animation-name: show-components;
      }
    }

    @supports (animation-timeline: view()) {
      .animate-skills {
        animation: linear forwards;
        animation-timeline: view();
        animation-range-start: 0;
        animation-range-end: 200svh;
      }

      @media screen and (min-width: 1024px) {
        .animate-skills {
          animation-range-end: 200dvh;
        }
      }

      .animate-skills-1 {
        animation-name: skills-1;
      }

      .animate-skills-2 {
        animation-name: skills-2;
      }

      .animate-skills-3 {
        animation-name: skills-3;
      }

      .animate-skills-4 {
        animation-name: skills-4;
      }

      .animate-skills-5 {
        animation-name: skills-5;
      }

      .animate-skills-6 {
        animation-name: skills-6;
      }

      .animate-skills-7 {
        animation-name: skills-7;
      }
    }
  }

  @keyframes skills-1 {
    from {
      top: 120svh;
    }
    to {
      top: 12svh;
    }
  }

  @keyframes skills-2 {
    from {
      top: 120svh;
    }
    to {
      top: 25svh;
    }
  }

  @keyframes skills-3 {
    from {
      top: 120svh;
    }
    to {
      top: 32svh;
    }
  }

  @keyframes skills-4 {
    from {
      top: 120svh;
    }
    to {
      top: 40svh;
    }
  }

  @keyframes skills-5 {
    from {
      top: 120svh;
    }
    to {
      top: 48svh;
    }
  }

  @keyframes skills-6 {
    from {
      top: 120svh;
    }
    to {
      top: 56svh;
    }
  }

  @keyframes skills-7 {
    from {
      top: 120svh;
    }
    to {
      top: 64svh;
    }
  }

  @media screen and (min-width: 640px) {
    @keyframes skills-3 {
      from {
        top: 120svh;
      }
      to {
        top: 37svh;
      }
    }

    @keyframes skills-4 {
      from {
        top: 120svh;
      }
      to {
        top: 49svh;
      }
    }

    @keyframes skills-5 {
      from {
        top: 120svh;
      }
      to {
        top: 61svh;
      }
    }

    @keyframes skills-6 {
      from {
        top: 120svh;
      }
      to {
        top: 73svh;
      }
    }

    @keyframes skills-7 {
      from {
        top: 120svh;
      }
      to {
        top: 85svh;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    @keyframes skills-3 {
      from {
        top: 120dvh;
      }
      to {
        top: 37dvh;
      }
    }

    @keyframes skills-4 {
      from {
        top: 120dvh;
      }
      to {
        top: 49dvh;
      }
    }

    @keyframes skills-5 {
      from {
        top: 120dvh;
      }
      to {
        top: 61dvh;
      }
    }

    @keyframes skills-6 {
      from {
        top: 120dvh;
      }
      to {
        top: 73dvh;
      }
    }

    @keyframes skills-7 {
      from {
        top: 120dvh;
      }
      to {
        top: 85dvh;
      }
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  @media screen and (max-width: 768px) {
    @keyframes rotate {
      to {
        transform: rotate(360deg);
        scale: 2;
      }
    }
  }

  @keyframes background-scale {
    to {
      scale: 1.3;
    }
  }

  @keyframes hide-components {
    0% {
      opacity: 1;
    }

    10% {
      opacity: 0;
      visibility: hidden;
    }

    to {
      opacity: 0;
      visibility: hidden;
    }
  }

  @keyframes show-components {
    0% {
      opacity: 0;
      visibility: hidden;
    }

    10% {
      opacity: 1;
      visibility: visible;
    }

    to {
      opacity: 1;
      visibility: visible;
    }
  }

  @media screen and (max-width: 768px) {
    .animate-scroll-icon {
      --scroll-icon-top: -0.7rem;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .animate-scroll-icon {
      --scroll-icon-top: -0.95rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .animate-scroll-icon {
      --scroll-icon-top: -1.05rem;
    }
  }
}
