@import "tailwindcss";
@import "./styles/main-title.css";
@import "./styles/icons-scroll-animations.css";
@import "./styles/expand-collapse-button.css";
@import "./styles/loader-animations.css";
@import "./styles/planet-rotate-animations.css";
@import "./styles/backgrounds.css";
@import "./styles/skills.css";
@import "./styles/aside.css";
@import "./styles/side-links.css";
@import "./styles/contact-go-button.css";
@import "./styles/attribution.css";

@theme {
  --drop-shadow-purple-glow: 0px 0px 0.125rem #b377ff;
  --drop-shadow-white-glow-sm: 0px 0px 0.313rem #ffffff;
  --drop-shadow-purple-glow-sm: 0px 0px 0.313rem #b377ff;
  --drop-shadow-border-purple-glow: 0px 0px 0.09rem #b377ff;

  --rotate-270: 270deg;

  --color-title-purple: #ceb7ff;
  --color-title-purple-dark: #75629f;

  --font-just-in-the-firestorm: var(--font-just-in-the-firestorm);
  --font-star-date-81316: var(--font-star-date-81316);
  --font-bebas-neue: var(--font-bebas-neue);
  --font-montserrat: var(--font-montserrat);
  --font-stop-motion: var(--font-stop-motion);
  --font-karantina-regular: var(--font-karantina-regular);
  --font-varela-round-regular: var(--font-varela-round-regular);
  --font-handjet: var(--font-handjet);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility hide-scrollbars {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility center-elements {
  @apply flex items-center justify-center;
}

@utility transition-300 {
  @apply transition-all ease-in-out duration-300;
}

@utility transition-1000 {
  @apply transition-all ease-in-out duration-1000;
}

@utility info-text-font-classNames {
  &:lang(en) {
    @apply font-bebas-neue;
  }

  &:lang(he) {
    @apply font-sans font-bold;
  }
}

@utility regular-text-font-by-locale {
  &:lang(en) {
    @apply font-montserrat;
  }

  &:lang(he) {
    @apply font-varela-round-regular;
  }
}

/* Shorthand for animation breaks in production environment with FireFox after upgrade to Tailwind 4.0.9. */
@utility animate-scroll-polyfill {
  @media (prefers-reduced-motion: no-preference) {
    @supports not (animation-timeline: scroll()) {
      animation-fill-mode: forwards;
      animation-timing-function: linear;
      animation-duration: 1s;
      animation-delay: calc(var(--scroll) * -1s);
      animation-play-state: paused;
    }
  }
}

@utility animate-scroll {
  @media (prefers-reduced-motion: no-preference) {
    @supports (animation-timeline: scroll()) {
      animation: linear;
      animation-timeline: scroll();
    }
  }
}
